PVE_HOST=192.168.1.100
PVE_TOKEN_ID=provisioner@pam!provisioner
PVE_TOKEN_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PVE_NODE=pve
PVE_VERIFY_SSL=false

# Build plane
BUILD_KEY_PATH=/etc/ctrlable/build_key
BUILD_TOKEN=changeme-random-secret
# URL that cloned guests use to call home on first boot (LAN IP of this LXC)
ORCHESTRATOR_URL=http://192.168.1.50:8000
